.table-container {
    overflow: auto;
    max-height: 57vh;
}

.table-head {
    position: sticky;
    top: -1px;
    color: white;
    background-color: rgb(75, 75, 75);
}

.search:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0);
    border: solid 1px rgb(56, 56, 56)
  }

